<div class="container">
  <h3>投稿詳細</h3>

  <h5>タイトル</h5>
  <p><%= @post.title %></p>

  <h5>感情</h5>
  <p><%= @post.emotion %></p>

  <h5>本文</h5>
  <P><%= @post.body %></P>

  <%= link_to "編集", edit_post_path(@post.id) %>
</div>