<div class="container">
  <h3>管理者　記事編集</h3>

  <%= form_with model: @article do |f| %>
  <div class="col mt-4 mb-3">
    <h5><strong>タイトル</strong></h5>
    <%= f.text_field :title %>
  </div>
  <div class="col my-3">
    <h5><strong>本文</strong></h5>
    <%= f.text_area :body, rows: 10, cols: 90 %>
  </div>

  <div class="col my-3">
    <%= f.submit '変更を保存', class: "btn btn-outline-success btn-sm" %>
  </div>
  <% end %>
</div>