<div class="container">
  <div class="col mb-3">
    <h3>管理者　記事投稿画面</h3>
  </div>

  <%= form_with model: @article, url: admin_articles_path do |f| %>
  <div class="col my-2">
    <h5>記事を作成</h5>
    <%= f.text_field :title, placeholder: "タイトル" %>
  </div>
  <div class="col my-2">
    <%= f.text_area :body, placeholder: "どんな記事を書きますか？" %><br>
  </div>
  <div class="col my-2">
    <%= f.submit '投稿', class: "btn btn-primary btn-sm" %>
  </div>
  <% end %>

</div>