<div class="container">

  <div class="col mt-5">
    <div class="text-center" style="font-size:20px; background-image: url('<%= asset_path('top_bg.jpg') %>'); background-size: cover; height: 600px;">
      <div class="d-flex align-items-center justify-content-center" style="height: 600px;">
        <!-- 背景色は白で透明度0.8。後半はフォントを指定している。 -->
        <div style="background-color: rgba(255,255,255,.8); width: 760px; height: 330px;">

          <p class="mt-4">LensEmo</p>
          <p class="mb-2">ここは、あなたの気持ちや日々の思いを吐き出せるスペース。<br>
            タイムラインやタグから 似たような悩みや異なる価値観にも触れられる。<br>
          <p>使い方はあなた次第<br>
            ここがあなたの安全基地になりますように。</p>

          <div class="col d-flex justify-content-center">
            <%= link_to new_user_registration_path, class: 'btn btn-outline-light text-dark' do %>
              はじめる <i class="fa-solid fa-circle-chevron-right"></i>
            <% end %>
          </div>
            <p class="mt-2" style="font-size:15px;">アカウントをお持ちの方は <%= link_to "こちら", new_user_session_path %><br>
              ちょっと覗いてく？ <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %></p>
        </div>
      </div>
    </div>
  </div>

</div>