<div class="container">
  <h3>管理者　記事詳細</h3>

  <div class="col mt-4 mb-3">
    <p><%= @article.user.username %></p>
  </div>
  <div class="col my-3">
    <h5><strong>タイトル</strong></h5>
    <p><%= @article.title %></p>
  </div>
  <div class="col my-3">
    <h5><strong>本文</strong></h5>
    <p><%= @article.body %></p>
  </div>

  <div class="col my-4">
    <%= link_to "一覧へ", articles_path, class: "btn btn-outline-primary" %>
  </div>
</div>