<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div sidebar_fixed>
        <!-- ユーザー詳細画面 -->
        <%= render 'public/users/list_show', user: @user %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col text-right">
        <%= link_to new_post_path, class: "btn btn-sm btn-outline-primary" do %>
          書く <i class="fa-solid fa-feather"></i>
        <% end %>
      </div>
      <!-- 投稿一覧画面 -->
      <%= render 'public/posts/list', posts: @posts %>
    </div>
  </div>
</div>