<footer>
  <div class="container">
    <div class="row">
      <div class="bg-secondary text-white fixed-bottom pt-3 pb-4">
        <p class="d-flex justify-content-center">@LensEmo</p>
      </div>
    </div>
  </div>
</footer>