<footer>
  <div class="container">
    <div class="row">
      <div class="text-white fixed-bottom pt-3 pb-2" style="background: #776B5D;">
        <p class="d-flex justify-content-center text-white" style="font-size:15px;">You're wonderful just the way you are.</p>
      </div>
    </div>
  </div>
</footer>