<footer>
  <div class="container">
    <div class="row">
      <div class="text-white fixed-bottom pt-3 pb-4" style="background: #6da4aa;">
        <p class="d-flex justify-content-center" style="color: white">@LensEmo</p>
      </div>
    </div>
  </div>
</footer>